{% extends "./layout/layout.html" %}

    {% block content %}
        {% for post in data %}
            <div>
                <h1>{{post.title}}</h1>
                <p>[{{post.date}}]</p>
            </div>
            
            <p>{{post.content}}</p>
            <code>- {{post.author}}</code>
        {% endfor %}
    {% endblock content %}
<!-- 
    jinja2 alows you to name the block, 
    when you are ending the block.
    This helps to be more explicit to which block you are trying to end
 -->