{% extends "./layout/layout.html" %}

{% block content %}
        <article class="media content-section">
            <img class="rounded-circle article-img" src="{{url_for('static', filename='images/avatars/' + post.author.avatar)}}"/>
            <div class="media-body">
                <div class="article-metadata">
                    <a class="mr-2" href="#">{{ post.author.username }}</a>
                    <code class="text-muted">{{ post.date.strftime('%Y-%m-%d') }}</code>
                </div>
                <h2 class="article-title">{{ post.title }}</h2>
                <p class="article-content">{{ post.content }}</p>
            </div>
        </article>
{% endblock content %}
<!-- 
    jinja2 alows you to name the block, 
    when you are ending the block.
    This helps to be more explicit to which block you are trying to end
 -->