{% extends "./layout/layout.html" %}

{% block content %}
<div class="content-section">
    <form method="POST" action="">

        <!-- adding the csrf token -->
        {{ form.hidden_tag() }}

        <fieldset class="form-group">
            <legend class="borderbottom mb4">
                Join Now!!!
            </legend>
            <div class="form-group">
                {{ form.username.label(class="form-control-label") }}
                {{ form.username(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.email.label(class="form-control-label") }}
                {{ form.email(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.password.label(class="form-control-label") }}
                {{ form.password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group">
                {{ form.confirm_password.label(class="form-control-label") }}
                {{ form.confirm_password(class="form-control form-control-lg") }}
            </div>
            <div class="form-group d-grid gap-2 col-6 mx-auto m-2 p-2">
                {{ form.submit(class="btn btn-primary") }}
            </div>
        </fieldset>
    </form>
</div>
<div class="border-top pd1">
    <small class="text-nuted">
        Already have an account? <a class="ml-2" href="{{ url_for('login') }}">Log In</a>
    </small>
</div>
{% endblock content %}
<!-- 
    jinja2 alows you to name the block, 
    when you are ending the block.
    This helps to be more explicit to which block you are trying to end
 -->